* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerlogo {
  height: 150px;
}
footer {
  padding-top: 20px;
  color: white;
  text-transform: uppercase;
  margin: 0;
}
.video-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  object-fit: contain;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for opacity */
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .logo {
    max-width: 80%;
  }
}
#outer {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

#home-top-video {
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#home-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.About-us-out {
  background-image: url(./images/vxl-125-right-front-three-quarter-7-transformed.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact{
  background-image: url(./images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  

}
.contact-form{
      background: transparent;
      backdrop-filter: blur(5px);
      border: 1.5px solid rgba(255, 255, 255, 0.5);
      border-radius: 15px;
      color: white;
     

}

.contact-form:focus{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.formtext{
  color: white;
  font-size: 16px;
}
.form-btn:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform:scale(10px) ;
}

.navbar{
  color: white;
  background-color: rgba(0, 0, 0, .1);
}
.links{
  color: white;
  text-decoration: none;
  font-size: 20px;

  margin-top: 15px;
  margin-bottom: 15px;
}
.nav-item{
  margin-top:6px ;
  margin-bottom: 6px;
}
.links:hover{
  color: black;
}
.nav-item:hover{
  background-color: rgba(255, 255, 255,.9);
  color: black;
  padding-inline: 20px;
  border-radius: 25px;
  transform: translate(10px);
}